<a href="https://colab.research.google.com/github/luizgans/MachineLearning/blob/master/First_ML_code_Wines.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Carregando o conjunto de dados
import pandas as pd

In [22]:
from google.colab import files
uploaded = files.upload()

Saving wine_dataset.csv to wine_dataset (1).csv

In [0]:
import io
arquivo= pd.read_csv(io.BytesIO(uploaded['wine_dataset.csv']))
# Dataset is now stored in a Pandas Dataframe

# arquivo = pd.read_csv('C:/Users/luizg/Documents/MachineLearning/wine_dataset.csv')

In [24]:
arquivo.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0            7.4              0.70         0.00  ...      9.4        5    red
1            7.8              0.88         0.00  ...      9.8        5    red
2            7.8              0.76         0.04  ...      9.8        5    red
3           11.2              0.28         0.56  ...      9.8        6    red
4            7.4              0.70         0.00  ...      9.4        5    red

[5 rows x 13 columns]

In [0]:
#as ML doesn't read string data, we need to change the style column to number variables

arquivo['style']=arquivo ['style'].replace('red',0)
arquivo['style']=arquivo ['style'].replace('white',1)

In [26]:
arquivo.head(5)

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0            7.4              0.70         0.00  ...      9.4        5      0
1            7.8              0.88         0.00  ...      9.8        5      0
2            7.8              0.76         0.04  ...      9.8        5      0
3           11.2              0.28         0.56  ...      9.8        6      0
4            7.4              0.70         0.00  ...      9.4        5      0

[5 rows x 13 columns]

In [0]:
#Spliting variables in predictors and targets variables
#y = target variable
#x = predictor variables, which is all the data excluding the column related to y

y = arquivo['style']
x = arquivo.drop('style', axis = 1)

In [28]:
print(y)

0       0
1       0
2       0
3       0
4       0
       ..
6492    1
6493    1
6494    1
6495    1
6496    1
Name: style, Length: 6497, dtype: int64

In [30]:
print(x)

      fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
0               7.4              0.70         0.00  ...       0.56      9.4        5
1               7.8              0.88         0.00  ...       0.68      9.8        5
2               7.8              0.76         0.04  ...       0.65      9.8        5
3              11.2              0.28         0.56  ...       0.58      9.8        6
4               7.4              0.70         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
6492            6.2              0.21         0.29  ...       0.50     11.2        6
6493            6.6              0.32         0.36  ...       0.46      9.6        5
6494            6.5              0.24         0.19  ...       0.46      9.4        6
6495            5.5              0.29         0.30  ...       0.38     12.8        7
6496            6.0              0.21         0.38  ...       0.32     11.8        6

[6497 rows x 12 columns]

In [0]:
#Mudando a config para ajudar no autocomplete. Assim posso apertar tab e o texto autocompletar qdo eu quiser.
%config IPCompleter.greedy=True

In [34]:
#.shape para saber o tamanho de uma matriz (linhas, colunas)
arquivo.shape

(6497, 13)

In [0]:
from sklearn.model_selection import train_test_split

#creating data sets for training and test. Amostra de teste = 30%
#a escolha dos dados é aleatória
x_treino, x_teste, y_treino, y_teste = train_test_split(x,y,test_size = 0.3)

In [36]:
from sklearn.ensemble import ExtraTreesClassifier
#Criação do modelo de machine learning, calculando, fazendo o fit dos dados:
modelo = ExtraTreesClassifier()
modelo.fit(x_treino,y_treino)

#Imprimindo resultados: 
#A função score mostra a acurácia do modelo, comparando x_teste e y_teste
resultado = modelo.score(x_teste, y_teste)
print("Acurácia:", resultado)

Acurácia: 0.9974358974358974

In [38]:
#print do resultado de linhas específica puxadas do teste, variáveis de teste
y_teste[400:403]

4751    1
5202    1
1532    0
Name: style, dtype: int64

In [40]:
#Tentar fazer a previsão de algumas amostras. 0 = red, 1 = white
previsoes = modelo.predict(x_teste[400:403])
previsoes

array([1, 1, 0])